<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Descubrimiento de motifs en secuencias de ADN con mineria de patrones frecuentes</title>
    
    <link type='text/css' href="{{url_for('static', filename = 'css/normalize.css')}}"  rel="stylesheet">
    <!-- <link href="css/styles.css?1.0" rel="stylesheet" type="text/css" media="all"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type ='text/javascript' src="{{url_for('static', filename = 'js/functions.js')}}"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->


</head>
<body>
    <header class="align-content-center justify-content-center mx-4 p-4 container" >
        <h1 class="h2 display-4 text-justify font-weight-light">
            Descubrimiento de motifs en secuencias de ADN con mineria de patrones frecuentes  
        </h1>
        
    </header>



    <div class="align-content-center justify-content-center mx-4 p-4 container" >
        <p class="text-justify lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi rem fuga neque adipisci optio, dolor ipsum rerum aspernatur praesentium eligendi dolorem beatae error harum cum nihil numquam nobis consectetur possimus?
        </p>
    </div>
        
    <main class="align-content-center justify-content-center mx-4 p-4 container" >
        <section>
            <ul id='tabs' class="nav nav-tabs nav-justified navbar-expand">
                <li class="active"><a data-toggle="tab" href="#process">Ejecución</a></li>
                <li><a data-toggle="tab" href="#experiments">Experimentos</a></li>
            </ul>


            <div class="tab-content">    <!--Contenedor de tabs-->
                <div id="process" class="tab-pane fade in active"> <!--Panel de elementos para la ejecucion (Parametos y resultados)-->
                    <h2 class="text-muted display-4">Entrada de datos</h2>
                    <div class="container-fluid">
                        <form class="form-inline">
                            <fieldset>
                                <div class="form-group form-row m-2" id='initOptions'>
                                    <label class="text-xl-left mx-2" for="selectAlgorithm">Tipo de algoritmo</label>
                                    <select class="form-control-sm  mx-2" id="selectAlgorithm" onchange="" aria-valuenow="-1">
                                        <option value="gsp">GSP</option>
                                        <option value="bi">Basado en indices</option>
                                        <option value="bi+">Basado en indices en multiples sequencias</option>
                                    </select>
                                </div> 

                                <div class="form-group form-row m-2" id='initOptions'> 
                                    <label class='mx-2' for="minSup">Umbral (minimo soporte)</label>
                                    <input class='mx-2'type="number" id="minSup" name="minSup" max="50" min="1" value="1">
                                </div>

                                <div class="form-group form-row m-2" id='Options'>
                                    <label class="text-xl-left  mx-2" for="formControlInputSelect">Opciones de entrada</label>
                                    <select class="form-control-sm  mx-2" id="formControlInputSelect" onchange="selectProccess()">
                                        <option value="inputManual">Ingresar Manualmente</option>
                                        <option value="inputFile">Subir archivo de tipo FASTA</option>
                                        <!-- <option value="inputDB">Desde una base de datos biologica (Genbank)</option> -->
                                    </select>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                

                    <div class="d-flex flex-row justify-content-start">
                        <form class="container-xl" id="principalFormTxt">
                                <div class="form-group row" id='inputManualRow' >
                                    <fieldset>
                                        <label for="inputManualADNText">Ingrese la secuencia de ADN</label>
                                        <!-- <input type="text" class="form-control-plaintext border-info border-left border-right rounded" id="inputManualADNText" placeholder="    ACTG"> -->
                                        <textarea class="form-control" id="inputManualADNText" rows="1" placeholder="ACTG" style="resize: none;"></textarea>
                                        
                                        <button type="button" class="form-control btn btn-dark  btn-sm my-2" id="addSequence" onclick="addStringSequences()">Agregar</button>

                                        <textarea class="form-control" id="previsualSequenceAnalisis" rows="5" placeholder="Previsualización" readonly></textarea>
                                        <br>
                                        <!-- <button type="button" class="btn btn-dark form-control my-2" id="addSequence1" disabled hidden>Agregar</button> -->

                                        <button type="button" class="btn btn-info form-control btn-lg my-2" id="sendSequenceTxt">Iniciar Análisis</button>
                                    </fieldset>
                                </div>
                            
                        </form>    
                        
                        <form class="container-xl" id="principalFormFile">
                            <fieldset>
                                <div class="form-group row" id='inputFileRow'>
                                    <label for="inputFile">Ingrese archivo FASTA</label>
                                    <input type="file" class="form-control-file" id="inputFile" name = 'inputFile' accept=".fasta"> <!--multiple-->
                                </div>
                                <div class="form-group row" id='inputFileRow2'>
                                    <textarea class="form-control my-2" id="previsualSequenceAnalisisFile" rows="5" placeholder="Previsualización" readonly hidden></textarea>
                                    <button type="button" class="btn btn-info form-control btn-lg my-2" id="sendSequenceFile">Iniciar Análisis</button>
                                </div> 
                            </fieldset>
                            
                        </form>
                            <!-- <div class="form-group border-3 border-info row" id="inputDBGenbankRow"> 
                                
                            </div> -->

                            <!-- <div class="form-group"  id="btnInit" >
                                <button type="button" class="btn btn-info form-control btn-lg my-2" id="sendSequence">Iniciar Análisis</button> -->
                                <!-- <input type="submit" class="btn btn-info form-control btn-lg my-2" id="sendSequence" > -->
                                <!-- <a href="result.html" class="btn btn-info btn-lg active p-2" role="button" aria-pressed="true" id='ingreso'>Iniciar Análisis</a> -->

                            <!-- <div> --> 
                    </div>
                    
                    <!--muestra de resultados-->
                    <div class="d-flex flex-column justify-content-center mx-2 p-4">
                        
                        <div class="container container-xl align-content-center" id="patronesHallados">


                        </div>
                
                    </div>
            
                    <div id="PatternsModal" class="modal fade" role="dialog"> <!--Modal-->
                        <div class="modal-dialog">
                            
                            <div class="modal-content"> <!--Contenedor del modal-->
                                <div class="modal-header"> <!--encabezado-->
                                     
                                    <h4 class="modal-title">Posiciones del Patrón</h4> <!--Titulo-->
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                   
                                </div>
                                <div class="modal-body" id="pmodal-body">
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal"></button>
                                </div>

                            </div>


                        </div>
                    </div>

                    <!-- <div class="d-flex flex-column justify-content-center mx-2 p-4 container">
                        <form class="container-xl" id="resultForm">
                            <div class="form-group"> -->
                                <!-- <button type="button" class="btn btn-info form-control btn-lg my-2" id='exportPDF' hidden></button> -->
                            <!-- </div>
                        </form>
                    </div> -->
                    <!--fin de muestra de resultados-->

                </div>  <!--fin del panel de elementos para la ejecucion (Parametos y resultados)-->

                <div id="experiments" class="tab-pane fade"> <!--panel de archivos-->
                    <button type="button" class="btn btn-info" onclick="mostrarArchivos()">Actualizar</button>
                    <div class="d-flex flex-column justify-content-center mx-2 p-4" id="mostrarArchivos">

                    </div>
                </div> <!--fin del panel de archivos-->
            </div> <!--fin de tab principal-->
        </section>

        <section> 

        </section>



    </main>
    <footer>
        
    </footer>

</body>
</html>