<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Descubrimiento de motifs en secuencias de ADN con mineria de patrones frecuentes</title>

    <!--Normalize-->
    <!-- <link type='text/css' href="{{url_for('static', filename = 'css/normalize.css')}}" rel="stylesheet"> -->
    <link type='text/css' href="../static/css/normalize.css" rel="stylesheet">

    <!--Estilos personalizados-->
    <!-- <link href="../static/css/styles.css" rel="stylesheet" type="text/css" media="all"> -->

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

    <!--Funetes especificas de google-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">

    <!--Iconos de google-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- MDBootstrap
    <link rel="stylesheet" href="../static/css/mdb.min.css"> -->

    <!-- MDBootstrap Datatables  css -->
    <link href="../static/css/addons/datatables.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>

    <!--Popper-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script> -->
    <script src="../static/js/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script> -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- JQuery  -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <script src="../static/js/jquery-3.6.0.min.js"></script>

    <!-- MDBootstrap JS
    <script src="../static/js/mdb.min.js"></script> -->

    <!-- MDBootstrap Datatables  js -->
    <script src="../static/js/addons/datatables.min.js"></script>

    <!--Funciones JS propias-->
    <!-- <script type='text/javascript' src="{{url_for('static', filename = 'js/functions.js')}}"></script> -->
    <!-- <script type='text/javascript' src="../static/js/functions.js"></script> -->




    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->


</head>

<body>
    <header class="justify-content-center d-flex px-4 mx-4 py-2 my-2">
        <h1 class="h1 display-4 text-break text-center font-weight-light">
            Descubrimiento de motifs en secuencias de <br> ADN con mineria de patrones frecuentes
        </h1>

    </header>



    <div class="justify-content-center container-fluid px-4 mx-4 py-2 my-2">
        <p class="text-justify lead">
            Esta plataforma está enfocada al descubrimiento de motifs en secuencias de ADN con minería de patrones
            frecuentes.
            <br>
            Proyecto realizado en la Universidad Autónoma del Estado de Hidalgo - MCCAyE.
        </p>
    </div>

    <main class="justify-content-center px-4 mx-4 py-2 my-2">
        <section>
            <ul id='tabs' class="nav nav-tabs nav-justified">
                <!-- navbar-expand nav-justified -->
                <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#process" title="">
                        <h3 class="h4 text-dark">Ejecución</h3>
                    </a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#experiments">
                        <h3 class="h4 text-dark">Experimentos</h3>
                    </a></li>
            </ul>


            <div class="border-right border-bottom border-left tab-content ">
                <!--Contenedor de tabs-->
                <div class="tab-pane container-fluid in active" id="process">
                    <!--Panel de elementos para la ejecucion (Parametros y resultados)-->

                    <!-- <div id='CargaGeneral'> -->
                    <!-- Div de carga  para elementos de ejecición -->
                    <!-- <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Cargando...</span>
                        </div>
                    </div>  -->

                    <div id="contentprocess" class="container-fluid">
                        <!--Seccion de entrada-->
                        <h2 class="h4 text-secondary text-center px-2 mx-2">Entrada de datos</h2>
                        <form class="form-inline">
                            <fieldset>
                                <!-- <div class="form-group form-row m-2" id='initOptions'>
                                    <label class="text-xl-left mx-2" for="selectAlgorithm">Tipo de algoritmo</label>
                                    <select class="form-control-sm  mx-2" id="selectAlgorithm" onchange="" aria-valuenow="-1">
                                        <option value="gsp">GSP</option>
                                        <option value="bi">Basado en indices</option>
                                        <option value="bi+">Basado en indices en multiples sequencias</option>
                                    </select>
                                </div> 

                                <div class="form-group form-row m-2" id='initOptions'> 
                                    <label class='mx-2' for="minSup">Umbral (minimo soporte)</label>
                                    <input class='mx-2'type="number" id="minSup" name="minSup" max="50" min="1" value="1">
                                </div> -->

                                <div class="form-group form-row m-2" id='Options'>
                                    <label class="text-xl-left  mx-2" for="formControlInputSelect">Opciones de
                                        entrada</label>
                                    <select class="form-control-sm  mx-2" id="formControlInputSelect"
                                        onchange="selectProcess()">
                                        <option value="inputManual">Ingresar Manualmente</option>
                                        <option value="inputFile">Subir archivo de tipo FASTA</option>
                                        <!-- <option value="inputDB">Desde una base de datos biologica (Genbank)</option> -->
                                    </select>
                                    <span id="infoProceso" class="material-icons mx-2"
                                        title="Seleccione un método de entrada">info</span>
                                </div>
                            </fieldset>
                        </form>
                    </div>


                    <div id='inputs' class="d-flex row">
                        <form class="row container-fluid m-2" id="principalFormTxt">
                            <!--Formulario para ingresar secuencias-->
                            <div class="form-group" id='inputManualRow'>
                                <fieldset>
                                    <label for="inputManualADNText">Ingrese la secuencia de ADN</label>
                                    <span id="infoManual" class="material-icons mx-2" title="Teclee la(s) secuencia(s) de ADN que desee analizar.">info</span>
                                    <!-- <input type="text" class="form-control-plaintext border-info border-left border-right rounded" id="inputManualADNText" placeholder="    ACTG"> -->
                                    <input type="text" class="form-control" id="inputManualADNText" rows="1"
                                        placeholder="ACTG" style="resize: none;">

                                    <button type="button" class="form-control btn btn-dark  btn-sm my-2"
                                        id="addSequence" onclick="addStringSequences()">Agregar</button>

                                    <textarea class="form-control" id="previsualSequenceAnalisis" rows="1"
                                        placeholder="Previsualización" readonly></textarea>

                                    <button type="button" class="form-control btn btn-danger  btn-sm my-2"
                                        id="cleanSequence" onclick="cleanStringSequences()">Borrar secuencias</button>
                                    <!-- <button type="button" class="btn btn-dark form-control my-2" id="addSequence1" disabled hidden>Agregar</button> -->

                                    <!-- <button type="button" class="btn btn-info form-control btn-lg my-2" id="sendSequenceTxt">Iniciar Análisis</button> -->
                                </fieldset>
                            </div>
                        </form>

                        <form class="row container-fluid m-2" id="principalFormFile">
                            <!--formulario para subir archivos-->
                            <fieldset>
                                <div class="form-group row m-2" id='inputFileRow'>
                                    <label for="inputFile">Ingrese archivo FASTA</label>
                                    <span id="infoArchivos" class="material-icons mx-2" title="Seleccione un archivo FASTA que contenga la(s) secuencia(s) de ADN que desee analizar.">info</span>
                                    
                                    <input type="file" class="form-control-file" id="inputFile" name='inputFile' accept=".fasta" draggable="true">
                                    <!--multiple-->
                                </div>
                                <!-- <div class="form-group row m-2" id='inputFileRow2'>
                                    <textarea class="form-control my-2" id="previsualSequenceAnalisisFile" rows="10"
                                        placeholder="Previsualización" readonly></textarea> 
                                      <button type="button" class="btn btn-info form-control btn-lg my-2" id="sendSequenceFile">Iniciar Análisis</button> 
                                  </div>  -->
                            </fieldset>

                        </form>

                        <form class="container-fluid row flex-row  mx-2 my-2" id="configAlgorithm">
                            <!--formulario para configurar el algoritmo container-fluid -->
                            <fieldset> 
                                <div class="form-group form m-2 align-middle" id='initOptions'>
                                    <label class="text-xl-left " for="selectAlgorithm">Tipo de algoritmo</label>
                                    <select class="form-control-sm  mx-2" id="selectAlgorithm" onchange="infoSelectAlgorithm()"
                                        aria-valuenow="-1">
                                        <option id="opc_bi" value="bi">Basado en indices</option>
                                        <option id="opc_bi+" value="bi+">Basado en indices en multiples sequencias
                                        </option>
                                        <option id="opc_gsp" value="gsp">GSP</option>
                                    </select>
                                    <span id="infoAlgoritmo" class="material-icons" title="">info</span>
                                </div>

                                <div class="form-group  m-2 align-middle" id='initOptions'>
                                    <label class='' for="minSup">Umbral (minimo soporte)</label>
                                    <input class='mx-2' type="number" id="minSup" name="minSup" max="2" min="2" value="2">
                                    <span id="infoMinSup" class="material-icons" title="">info</span>
                                </div>
                                <!-- </div> -->
                                
                                <!-- <div class="row align-self-center align-middle"> -->
                                <div class="form-group  m-2 align-middle" id='contentTD'>
                                    <label class='' for="tolerancia_delante">Toleancia hacia delante</label>
                                    <input class='mx-2' type="number" id="tolerancia_delante" name="tolerancia_delante" max="5" min="1" value="2">
                                    <span id="infoToleranciaDelante" class="material-icons" title="Es el número no coincidencias hacia delante de las secuencias que se pueden permitir para encontrar posciones con coincidencias de un nucleotido en especifico">info</span>
                                </div>

                                <div class="form-group  m-2 align-middle" id='contentTDe'>
                                    <label class='' for="tolerancia_atras">Toleancia hacia detras</label>
                                    <input class='mx-2' type="number" id="tolerancia_atras" name="" max="5" min="1" value="2">
                                    <span id="infoToleranciaAtras" class="material-icons" title="Es el número no coincidencias hacia atras de las secuencias que se pueden permitir para encontrar posciones con coincidencias de un nucleotido en especifico">info</span>
                                </div>
                                <!-- </div> -->

                                <!-- <div class="row align-self-center align-middle"> -->
                                <div class="form-group  m-2 align-middle" id='contentLMC'>
                                    <label class='' for="LMC">Longitud minima para el motif</label>
                                    <input class='mx-2' type="number" id="LMC" name="LMC" max="20" min="6" value="6">
                                    <span id="infoLMC" class="material-icons" title="Es la longitud mimina que podrá tener el motif">info</span>
                                </div>

                                <div class="form-group  m-2 align-middle" id='contentCheckLogo'>
                                    <label class='' for="checkLogo">Imprimir graficas</label>
                                    <input class='mx-2' type="checkbox" id="checkLogo">
                                    <span id="checkLogo" class="material-icons" title="Desea imprimir el grafico Logo de cada motif dentro del archivo Excel a generar">info</span>
                                </div>
                                <!-- </div> -->
                                

                                <!-- <div class="container-fluid row align-self-center align-middle"> -->
                                <div id ="btnSentSeqFile" class = "form-group form-row align-middle"> 
                                    <button id="sendSequenceFile" type="button" class="btn btn-info form-control btn-lg m-2 ">Iniciar Análisis</button>
                                </div>

                                
                                <div id ="btnSentSeqText" class = "form-group form-row align-middle" >
                                    <button id="sendSequenceTxt" type="button" class="btn btn-info form-control btn-lg m-2"
                                    >Iniciar Análisis</button>
                                </div>
                                <!-- </div> -->
                                
                                


                                <!-- <div class="form-group row" id='inputPricipalRows'> -->
                                <!-- <textarea class="form-control my-2" id="previsualSequenceAnalisisFile" rows="5" placeholder="Previsualización" readonly hidden></textarea> -->
                                <!-- <button type="button" class="btn btn-info form-control btn-lg my-2" id="sendSequenceGeneral">Iniciar Análisis</button> -->
                                <!-- </div>  -->

                            </fieldset>

                        </form>

                        <!-- <div class="form-group border-3 border-info row" id="inputDBGenbankRow"> 
                                
                            </div> -->

                        <!-- <div class="form-group"  id="btnInit" >
                                <button type="button" class="btn btn-info form-control btn-lg my-2" id="sendSequence">Iniciar Análisis</button> -->
                        <!-- <input type="submit" class="btn btn-info form-control btn-lg my-2" id="sendSequence" > -->
                        <!-- <a href="result.html" class="btn btn-info btn-lg active p-2" role="button" aria-pressed="true" id='ingreso'>Iniciar Análisis</a> -->

                        <!-- <div> -->
                    </div>



                    <!--muestra de resultados-->
                    <div class="d-flex flex-column justify-content-center mx-2 p-2">

                        <div id='cargaResultado' class="d-flex justify-content-center">
                            <div id='cargaResultadoChil' class="flex-column mx-2 p-2">
                                <div class="spinner-border text-primary"
                                    style="height: 6rem; width: 6rem; border-width: .75rem;" role="status">
                                    <!--modificar el tamaño del border-->
                                    <span class="sr-only">Cargardo...</span>
                                </div>
                                <p class="text-center">Cargando</p>
                            </div>
                        </div>

                        <div class="container container-xl align-content-center" id="resultados">



                        </div>

                        <!-- <button  type="button" class="btn btn-info form-control btn-lg my-2" id="downCurrentFile" onclick="descargarArchivos('x','currentJSON')">Descargar resultados</button> -->
                        <!-- <a href=/descarga/experimentos/{{currentJSON}} class="btn btn-info form-control btn-lg my-2" id="downCurrentFile" target="_blank">Descargar resultados</a> -->
                        <!-- <a href="{{ url_for('getExpetimento', filetype = 'currentJSON') }}" class="btn btn-info form-control btn-lg my-2" id="downCurrentFile" target="_blank">Descargar resultados</a>  -->


                    </div>

                    <div id="PatternsModal" class="modal fade" role="dialog">
                        <!--Modal-->
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <!--Contenedor del modal-->
                                <div class="modal-header">
                                    <!--encabezado-->

                                    <h4 class="modal-title">Posiciones</h4>
                                    <!--Titulo-->
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body" id="pmodal-body">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal"></button>
                                </div>

                            </div>


                        </div>
                    </div>

                    <!-- <div class="d-flex flex-column justify-content-center mx-2 p-4 container">
                        <form class="container-xl" id="resultForm">
                            <div class="form-group"> -->
                    <!-- <button type="button" class="btn btn-info form-control btn-lg my-2" id='exportPDF' hidden></button> -->
                    <!-- </div>
                        </form>
                    </div> -->
                    <!--fin de muestra de resultados-->

                </div>
                <!--fin del panel de elementos para la ejecucion (Parametos y resultados)-->

                <div class="tab-pane container-fluid fade " id="experiments">
                    <!--panel de archivos-->
                    <div class="d-flex flex-column justify-content-center mx-2 p-2" id="mostrarArchivos">

                    </div>

                    <div class="d-flex flex-column justify-content-center m-2">
                        <button type="button" class="btn btn-info" onclick="mostrarArchivos()">Actualizar</button>
                    </div>

                    <div id="PatternsModalFiles" class="modal fade" role="dialog">
                        <!--Modal-->
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <!--Contenedor del modal-->
                                <div class="modal-header">
                                    <!--encabezado-->

                                    <h4 class="modal-title" id="titleModalFile"></h4>
                                    <!--Titulo-->
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body" id="pmodalFile-body">
                                    <pre id="preModalFile">

                                    </pre>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Aceptar</button>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
                <!--fin del panel de archivos-->
            </div>
            <!--fin de tab principal-->
        </section>
        <!-- 
        <section> 

        </section> -->



    </main>
    <footer>
        <div class="container-fluid mx-4 p-4">
            <p class="text-center lead">
                Esta plataforma está en fase de desarrollo.
                <br>
                versión 0.1 (experimental)
            </p>
        </div>
        <script type='text/javascript' src="../static/js/functions.js"></script>
    </footer>


</body>

</html>